.center {
  position: absolute;
  left: 50%;
  top: 40%;
  background-color: rgb(162, 162, 230);
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}
.spinner-position {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  z-index: 3;
}