<div *ngIf="!isAuthenticated; else logindone">
  <app-login (loginEvent)="navigateMainPage($event)"></app-login>

</div>


<ng-template #logindone>
  <p-menubar [style]="backgroundc" [model]="items" >
    <ng-template pTemplate="start">
      <img src="assets/icon.png" height="40" class="mr-2">
  </ng-template>
   <ng-template pTemplate="end">
    <span class="navbar-text">
      <a class="nav-link "  (click)="op.toggle($event)"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
        fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
      </svg></a>
      <!-- <p-button [label]="selectedProduct ? selectedProduct.name : 'Select a Product'" icon="pi pi-search" (click)="op.toggle($event)"></p-button> -->
  
      <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '250px'}" [appendTo]='body'
      > 
        <ng-template pTemplate>
          <div class="overlay-content-container">
              <div class="label-large"><p class="text-monospace">user email: {{this.user.email}}</p>
                </div>
              <br>
          </div>
          <div class="overlay-actionlink-container">
            <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
  
          </div>
      </ng-template>
      </p-overlayPanel>
    </span>
  </ng-template>
  </p-menubar>
  <app-tables *ngIf="!news" [tab]="tab" #table></app-tables>
  <app-news *ngIf="news" ></app-news>
</ng-template>